<aside>
    <div class="row">
        <div class="side-nav">
            <div class="navi">
                <div class="navbar-brand" href="#">
                    <img
                    src="assets/images/partner-feuji 1.png"
                    class="img-fluid img-nav"
                    alt="feuji-logo"
                    />
                </div>
                <!-- <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div> -->
                <div class="dropdown">
                    <button class="dropbtn">Dropdown</button>
                    <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                    </div>
                </div>
                <!-- <ul class="nav flex-column" id="dropdownMenuLink">
                    <li class="nav-item">
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Edit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Add</a>
                            </li>
                        </ul>
                    </li>
                </ul> -->
            </div>
    
        </div>
    </div>
</aside>