.main-div {
  margin-top: 5px;
  min-height: 100vh;
  position: relative;
  z-index: 1 !important;
}
.header {
  background-color: #ebebee;
  height: 50px;
  padding: 5px 0;
  margin: 0;
  margin-bottom: 0px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}
.form-select {
  height: 20px;
}
.header-child {
  min-height: 40px;
}

.select {
  font-size: 14px;
  cursor: pointer;
  min-width: 150px;
  margin-bottom: 0;
  box-shadow: none;
  font-weight: 100;
  font-family: "Medium";
}

.difficultyLevel {
  padding: 3px;
  color: #915e05;
  background-color: rgba(203, 172, 118, 0.18);
  border-radius: 4px;
  margin-right: 15px;
}
.common-level {
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
  margin-right: 15px;
  padding: 2px 10px;
  font-family: "Medium";
}
.level-1 {
  color: #005ba1;
  background-color: #d0e7f8;
}

.level-2 {
  color: #386304;
  background-color: #dbebc7;
}

.level-3 {
  color: #ffff;
  background-color: #7a7574;
}

.level-4 {
  color: #5d5a58;
  background-color: #e5e4e3;
}

.level-5 {
  color: #ffffff;
  background-color: #003966;
}

.level-6 {
  color: #4d291c;
  background-color: #e2d1cb;
}

.level-7 {
  color: #006666;
  background-color: #c2e7e7;
}

.level-8 {
  color: #ffff;
  background-color: #0078d4;
}

.level-9 {
  color: #ac2d7e;
  background-color: #fbddf0;
}

.level-10 {
  color: #000000;
  background-color: #ff8c00;
}
.card {
  margin-top: 5px;
  padding: 20px 35px 10px;
}
.options-list li p {
  margin-bottom: 5px;
}

input[type="text"] {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  box-shadow: none;
  font-weight: 100;
  font-family: "Medium";
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.show {
  display: block;
}
.modal-open {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.search-div {
  width: 40%;
  background-color: white;
  padding: 6px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.options-list {
  margin-left: 20px;
  padding: 15px 14px 0px 15px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  margin: 0;
  flex: 1;
  max-width: 80%;
}

.card-text {
  font-weight: 100;
  font-size: smaller;
}

.btn-warning {
  background-color: #08708d;
  border: none;
  color: white;
}
.btn-danger {
  background-color: #ff8d4d;
  border: none;
}

.bottom-container mat-paginator {
  font-size: 16px;
  font-weight: 550;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.ellipsis-icon {
  cursor: pointer;
  margin-left: 10px;
}

.dropdown-content {
  right: 0;
  left: auto;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content ul li {
  padding: 5px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.dropdown-content ul {
  font-family: "Regular";
  color: black;
  text-decoration: none;
  display: block;
  background-color: #eff2f7;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown-content li:hover {
  background-color: white;
  font-weight: bold;
  opacity: 0.8;
}
.mr-20 {
  margin-right: 20px;
}
.fw-700 {
  font-weight: 700;
}
.search-input:focus,
.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: larger;
}
.no-quesitons-msg {
  font-size: 2rem;
  font-weight: 600;
}

.bottom-container {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 5px;
  padding-left: 510px;
}

@media (min-width: 200px) and (max-width: 300px) {
  .bottom-container {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    padding-left: 40px;
  }
  .header {
    background-color: #ebebee;
    height: 50px;
    padding: 5px 0;
    margin: 0;
    margin-bottom: 0px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    width: 100%;
  }
  .form-select {
    height: 20px;
  }

  .header-child {
    min-height: 40px;
  }
  .select {
    font-size: 10px;
    cursor: pointer;
    min-width: 80px;
    margin-bottom: 0;
    box-shadow: none;
    font-weight: 50;
    font-family: "Medium";
  }
  input[type="text"] {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80px;
    box-shadow: none;
    font-weight: 100;
    font-family: "Medium";
  }
}
.oops {
  margin-top: 7% !important;
  margin-left: 25% !important;
}

@media (min-width: 300px) and (max-width: 500px) {
  .bottom-container {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    padding-left: 50px;
  }
  .header {
    background-color: #ebebee;
    height: 50px;
    padding: 5px 0;
    margin: 0;
    margin-bottom: 0px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    width: 100%;
  }
  .form-select {
    height: 20px;
  }

  .header-child {
    min-height: 40px;
  }
  .select {
    font-size: 10px;
    cursor: pointer;
    min-width: 100px;
    margin-bottom: 0;
    box-shadow: none;
    font-weight: 50;
    font-family: "Medium";
  }
  input[type="text"] {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    box-shadow: none;
    font-weight: 100;
    font-family: "Medium";
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  .bottom-container {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    padding-left: 50px;
  }
  .header {
    background-color: #ebebee;
    height: 50px;
    padding: 5px 0;
    margin: 0;
    margin-bottom: 0px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    width: 100%;
  }
  .form-select {
    height: 20px;
  }

  .header-child {
    min-height: 40px;
  }
  .select {
    font-size: 10px;
    cursor: pointer;
    min-width: 100px;
    margin-bottom: 0;
    box-shadow: none;
    font-weight: 50;
    font-family: "Medium";
  }
  input[type="text"] {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    box-shadow: none;
    font-weight: 100;
    font-family: "Medium";
  }
}
.text-success {
  color: #00c66a !important;
}
