.main-div {
  margin-top: 5px;
  min-height: 100vh;
  position: relative;
  z-index: 1 !important;
}
.header {
  background-color: #ebebee;
  height: 50px;
  padding: 5px 0;
  margin: 0;
  margin-bottom: 0px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}
.difficultyLevel {
  padding: 3px;
  color: #915e05;
  background-color: rgba(203, 172, 118, 0.18);
  border-radius: 4px;
  margin-right: 15px;
}
.common-level {
  padding: 3px;
  border-radius: 4px;
  font-size: 13px;
  margin-right: 15px;
  padding: 0px 10px;
  font-family: "Medium";
}
.level-1 {
  color: #005ba1;
  background-color:#d0e7f8;
}

.level-2 {
  color: #386304;
  background-color: #dbebc7;
}

.level-3 {
  color: #4682b4;
  background-color: rgba(70, 130, 180, 0.18);
}

.level-4 {
  color: #9932cc;
  background-color: rgba(153, 50, 204, 0.18);
}

.level-5 {
  color: #ff6347;
  background-color: rgba(255, 99, 71, 0.18);
}

.level-6 {
  color: #20b2aa;
  background-color: rgba(32, 178, 170, 0.18);
}

.level-7 {
  color: #9370db;
  background-color: rgba(147, 112, 219, 0.18);
}

.level-8 {
  color: #cd5c5c;
  background-color: rgba(205, 92, 92, 0.18);
}

.level-9 {
  color: #2e8b57;
  background-color: rgba(46, 139, 87, 0.18);
}

.level-10 {
  color: #ff8c00;
  background-color: rgba(255, 140, 0, 0.18);
}

.header-child {
  min-height: 40px;
}
.card {
  margin-top: 5px;
  padding: 20px 35px 10px;
}
.options-list li p {
  margin-bottom: 5px;
}

input[type="text"] {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  box-shadow: none;
  font-weight: 100;
  font-family: "Medium";
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.show {
  display: block;
}
.modal-open {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.search-div {
  width: 40%;
  background-color: white;
  padding: 6px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.options-list {
  margin-left: 20px;
  padding: 15px 14px 0px 15px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  margin: 0;
  flex: 1;
  max-width: 80%;
}

.card-text {
  font-weight: 100;
  font-size: smaller;
}

.btn-warning {
  background-color: #08708d;
  border: none;
  color: white;
}
.btn-danger {
  background-color: #ff8d4d;
  border: none;
}

.bottom-container mat-paginator {
  font-size: 16px;
  font-weight: 550;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.ellipsis-icon {
  cursor: pointer;
  margin-left: 10px;
}

.dropdown-content {
  right: 0;
  left: auto;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content ul li {
  padding: 5px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.dropdown-content ul {
  font-family: "Regular";
  color: black;
  text-decoration: none;
  display: block;
  background-color: #eff2f7;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdown-content li:hover {
  background-color: white;
  font-weight: bold;
  opacity: 0.8;
}
.select {
  font-size: 14px;
  height: 40px;
  cursor: pointer;
  min-width: 150px;
  margin-bottom: 0;
  box-shadow: none;
  font-weight: 100;
  font-family: "Medium";
}

.mr-20 {
  margin-right: 20px;
}
.fw-700 {
  font-weight: 700;
}
.search-input:focus,
.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: larger;
}
.no-quesitons-msg {
  font-size: 2rem;
  font-weight: 600;
}

.bottom-container {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 5px;
  padding-left: 510px;
}

@media (min-width: 200px) and (max-width: 300px) {
  .bottom-container {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    padding-left: 40px;
  }
}

@media (min-width: 300px) and (max-width: 900px) {
  .bottom-container {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    padding-left: 50px;
  }
}
.text-success {
  color: #00c66a !important;
}
