<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <app-admin-header></app-admin-header>
      <div *ngIf="showpaper">
        <h2 class="heading">{{heading}}</h2>
        <form [formGroup]="registerForm" (ngSubmit)="registerForm.status !== 'INVALID' && register(registerForm)"
          class="form-container">
          <div class="paperName-container">
            <div class="paperName">
              <label for="paperName">Enter Paper Name: *</label>
              <input class="paperName-input" type="text" id="name" formControlName="name" name="name" />
            </div>
            <div class="radio-container">
              <label class="radio-label">Active: *</label>
              <div class="radio-options">
                <input type="radio" name="isActive" id="active" value="true" formControlName="active" name="active">
                <label class="radio-option-label" for="trueRadio">True</label>

                <input type="radio" name="isActive" id="active" value="false" formControlName="active" name="active">
                <label class="radio-option-label" for="falseRadio">False</label>
              </div>
            </div>
            <div class="subject-container">
              <label for="subjectSelect">Select Subject:</label>
              <select class="subject-select" id="subjectSelect" (change)="onSubjectChange($event)">
                <option value="" disabled selected>Select Subject</option>
                <option *ngFor="let subject of subjects" [value]="subject.id" class="custom-theme">
                  {{ subject.name }}
                </option>
              </select>
            </div>


          </div>
          <div *ngIf="selectedSubject">

            <ol>
              <li *ngFor="let question of getImageListSlice()">
                <input type="checkbox" [checked]="isPrescentedOrNot(question)"
                  (change)="onCheckboxChange(question)" />{{ question.content }}
              </li>
            </ol>
          </div>



          <div class="col-2 col-md-4 offset-md-4 submit-button">
            <button type="button" class=" btn-back" (click)="backbutton()">Back</button>
            <button class="button reg-btn global-background-color" type="submit" [ngClass]="{
          'disabled-button': registerForm.invalid || selectedQuestions.length === 0
        }" [disabled]="registerForm.invalid || selectedQuestions.length === 0">
              Save Paper
            </button>

          </div>



          <div class="pagination" *ngIf="selectedSubject">
            <button class="pagination-button" [disabled]="currentPage === 1" (click)="changePage(1)">1</button>
            <button class="pagination-button" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
              << </button>
                <button class="btn btn-success">{{currentPage}} / {{totalItems}}</button>
                <button class="pagination-button" [disabled]="currentPage === totalItems"
                  (click)="changePage(currentPage + 1)">>></button>
                <button class="pagination-button" [disabled]="currentPage === totalItems"
                  (click)="changePage(totalItems)">{{totalItems}}</button>
          </div>
        </form>
      </div>



      <!-- show papers  -->

      <div class="container" *ngIf="!showpaper">
        <h2 class="heading">List Of Papers</h2>
        <div class="search-container">
          <input type="text" placeholder="Search anything..." name="search" class="search"
          [(ngModel)]="nameSearch" (ngModelChange)="getAllPapers()"/>
          <i class="fa solid fa-search search-icon" ></i>
        </div>
        <button class="create-paper-button" (click)="createpaper()">Create Paper</button>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>S.No</th>
                <th>PaperName</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paper of paginatedPapers;let i=index">
                <td>{{ (currenttable - 1) * tablerowsperpage + i + 1 }}</td>
                <td>{{ paper.name }}</td>
                <td>
                  <button type="toggle" class="product-button" (click)="toggleButton(paper)">
                    <i class="fa fa-xl" [ngClass]="{'fa-toggle-on': paper.active, 'fa-toggle-off': !paper.active}"
                      aria-hidden="true"></i>
                  </button>
                </td>
                <td> <button type="button" class="product-button" (click)="editPaper(paper)"><i
                      class="fa-solid fa-pen-to-square"></i></button>
                </td>
              </tr>
            </tbody>
          </table>


          <div class="pagination">
            <button (click)="prevPage()" [disabled]="currenttable === 1">Previous</button>
            <span>{{ currenttable }} / {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="currenttable === totalPages">Next</button>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>