.main-div{
  background-color: rgb(241, 243, 245);
}
.question-form {
  background-color: rgb(241, 243, 245);
  /* margin: auto;
  margin-bottom: 10px;
  margin-top: 10px; */
  /* padding: 1rem 0.3rem 0.1rem 0.3rem; */
  /* max-width: 100%;
  margin: 0 auto;
  padding: 30px; */
  padding-bottom: 0.1rem;
}
form {
  margin: -1px 20px 2px 25px;
}
/* .header {
  margin-top: 10px;
  background-color: #ffe2d1;
} */
.header h1 {
  color:#f3752e;
  font-size: 35px;
  padding: 0.5rem 1rem;
}
.add-quesiton-header {
  color: #f3752e;
  text-align: center;
}
.form-row {
  margin-bottom: 10px;
}
input {
  width: 100%;
  padding: 10px;
}
.error-div {
  position: relative;
  font-size: medium;
  min-height: 24px;
}

.example-button {
  margin-bottom: 0;
}

.validsubmit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.invalidsubmit-button {
  background-color: rgb(163, 159, 159);
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: none;
}

.show {
  display: block;
}
.modal-open {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}
.option-input {
  z-index: 0;
}
.question-type {
  padding: auto;
}
.question-type-option {
  width: 20px;
  padding: 20px;
}
.option-type {
  width: auto;
  margin: 10px;
}
