/* .main-div{
  background-color: #3caf895e;
} */
form {
  max-width: 80%;
  margin: 0 auto;
  padding: 30px;
  background-color: #8aa05f6b;
}

input {
  width: 100%;
  padding: 10px;
}
.error-div {
  position: relative;
  font-size: medium;
  min-height: 24px;
}
.p-button {
  width: fit-content;
  border: 1px red solid;
  border-radius: 20px;
  cursor: pointer;
  color: #007bff;
}
.validsubmit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.invalidsubmit-button {
  background-color: rgb(163, 159, 159);
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: none;
}
.mr-20 {
  margin-right: 20px;
}
.show {
  display: block;
}
.modal-open {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}
