<div class="container-fluid navigation-border">
  <div class="instructions">
    <div class="instruction-item">
      <div class="info"></div>
      <p>Not visited</p>
    </div>
    <div class="instruction-item">
      <div class="info" style="background-color: #ed4807a5"></div>
      <p>Not answered</p>
    </div>
    <div class="instruction-item">
      <div class="info" style="background-color: #569805df"></div>
      <p>Answered</p>
    </div>
  </div>
  <div class="option-info">
    <h6>Choose a question</h6>
  </div>
  <div
    class="navigation-style"
    *ngFor="let questionNumber of getQuestionNumbers(); let i = index"
  >
  <div
  class="navigation-numbers"
  [ngClass]="{
    'answered': listOfQuestion[i]?.optionSelected?.length !== 0 && i !== displayedNumber,
    'not-answered': listOfQuestion[i]?.optionSelected?.length === 0 && i !== displayedNumber,
    '': (listOfQuestion[i]?.optionSelected?.length === 0) && i === displayedNumber,
    '': (listOfQuestion[i]?.optionSelected?.length !== 0)&& i === displayedNumber,
    'disabled': i >= listOfQuestion.length
  }"
  (click)="i < listOfQuestion.length && previousQuestion(i)"
>
<p>{{questionNumber}}</p>
  </div>
</div>
