<div class="container-fluid navigation-border">
  <div class="instructions">
    <div class="instruction-item">
      <div class="info"></div>
      <p>Not visited</p>
    </div>
    <div class="instruction-item">
      <div class="info" style="background-color: #ed4907"></div>
      <p>Not answered</p>
    </div>
    <div class="instruction-item">
      <div class="info" style="background-color: #76be20"></div>
      <p>Answered</p>
    </div>
    <div class="instruction-item">
      <div class="info" style="background-color: #815da4"></div>
      <p>Marked for review</p>
    </div>
  </div>
  <div class="option-info">
    <h6>Choose a question</h6>
  </div>
  <div
    class="navigation-style"
    *ngFor="let questionNumber of getQuestionNumbers(); let i = index"
  >
    <div
      class="navigation-numbers"
      [ngClass]="{
        disabled: i >= listOfQuestion.length,
        answered:
          listOfQuestion[i]?.optionSelected?.length !== 0 &&
          i !== displayedNumber && !(listOfQuestion[i]?.isMarkedForReview),
        'not-answered':
          listOfQuestion[i]?.optionSelected?.length === 0 &&
          i !== displayedNumber,
        '':
          listOfQuestion[i]?.optionSelected?.length === 0 &&
          i === displayedNumber,
        marked: listOfQuestion[i]?.isMarkedForReview
      }"
      (click)="i < listOfQuestion.length && previousQuestion(i)"
    >
      <p>{{ questionNumber }}</p>
    </div>
  </div>
</div>

