<app-header></app-header>
<div class="container-fluid custom">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-12 mx-auto">
      <div class="card login-card shadow p-3 rounded">
        <div class="card-body">
          <div class="row">
            <h2 class="text-center global-color">Feuji Talent Gateway</h2>
            <div class="col-md-6">
              <div class="left-content">
                <div class="welcome">
                  <h4 class="welcome-back">Change your password here!</h4>
                </div>
                <form [formGroup]="changePasswordRequestForm" (ngSubmit)="onSubmit()" class="form-container">
                  <!-- Old Password Field -->
                  <img src="../../../assets/images/lock_outline_black_18dp.svg" alt="" class="icon-img" />
                  <label for="oldPassword" class="input-label form-control-icon password-div">Old Password</label>
                  <div class="input-container">
                    <input [type]="oldPasswordVisible ? 'text' : 'password'" class="form-control input-fields"
                      id="oldPassword" placeholder="Old Password" formControlName="oldPassword"
                      [ngClass]="{'error': getControl('oldPassword')?.errors && getControl('oldPassword')?.touched}" />
                    <i class="fa-solid {{ oldPasswordVisible ? 'fa-eye-slash' : 'fa-eye' }}" id="eye"
                      (click)="toggleVisibility('oldPassword')"></i>
                  </div>
                  <div *ngIf="getControl('oldPassword')?.errors && getControl('oldPassword')?.touched"
                    class="error-message">
                    <span class="text-danger" *ngIf="getControl('oldPassword')?.hasError('required')">Old Password is
                      required.</span>
                    <span class="text-danger"
                      *ngIf="getControl('oldPassword')?.hasError('minlength') || getControl('oldPassword')?.hasError('maxlength')">Old
                      Password should be between 8 and 32 characters long.</span>
                  </div>
                  <div *ngIf="!getControl('oldPassword')?.errors || !getControl('oldPassword')?.touched">
                    <div class="empty-space"></div>
                  </div>

                  <!-- Password Field -->
                  <img src="../../../assets/images/lock_outline_black_18dp.svg" alt="" class="icon-img" />
                  <label for="password" class="input-label form-control-icon password-div">Password</label>
                  <div class="input-container">
                    <input [type]="passwordVisible ? 'text' : 'password'" class="form-control input-fields"
                      id="password" placeholder="Password" formControlName="password"
                      [ngClass]="{'error': getControl('password')?.errors && getControl('password')?.touched}" />
                    <i class="fa-solid {{ passwordVisible ? 'fa-eye-slash' : 'fa-eye' }}" id="eye"
                      (click)="toggleVisibility('password')"></i>
                  </div>
                  <div *ngIf="getControl('password')?.errors && getControl('password')?.touched" class="error-message">
                    <span class="text-danger" *ngIf="getControl('password')?.hasError('required')">Password is
                      required.</span>
                    <span class="text-danger"
                      *ngIf="getControl('password')?.hasError('minlength') || getControl('password')?.hasError('maxlength')">Password
                      should be between 8 and 32 characters long.</span>
                  </div>
                  <div *ngIf="!getControl('password')?.errors || !getControl('password')?.touched">
                    <div class="empty-space"></div>
                  </div>

                  <!-- Confirm Password Field -->
                  <img src="../../../assets/images/lock_outline_black_18dp.svg" alt="" class="icon-img" />
                  <label for="confirmPassword" class="input-label">Confirm Password</label>
                  <div class="input-container">
                    <input [type]="confirmPasswordVisible ? 'text' : 'password'" class="form-control input-fields"
                      id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword"
                      [ngClass]="{'error': getControl('confirmPassword')?.errors && getControl('confirmPassword')?.touched}" />
                    <i class="fa-solid {{ confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye' }}" id="eye"
                      (click)="toggleVisibility('confirmPassword')"></i>
                  </div>
                  <div *ngIf="getControl('confirmPassword')?.errors && getControl('confirmPassword')?.touched"
                    class="error-message">
                    <span class="text-danger" *ngIf="getControl('confirmPassword')?.hasError('required')">Confirm
                      Password is required.</span>
                  </div>
                  <div *ngIf="!(getControl('confirmPassword')?.errors && getControl('confirmPassword')?.touched)">
                    <div class="empty-space"></div>
                  </div>
                  <div class="error-message"
                    *ngIf="changePasswordRequestForm.hasError('passwordMismatch') && getControl('confirmPassword')?.touched">
                    <span class="text-danger">Passwords do not match.</span>
                  </div>
                  <div class="row justify-content-center submit-div">
                    <input id="submit-input" type="submit" class="btn btn-primary btn-custom"
                      [disabled]="changePasswordRequestForm.status === 'INVALID'" value="Submit" />
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6 img">
              <div class="right-content">
                <img src="assets/images/reset_password.png" alt="select the correct path" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
