<footer class="text-light text-center py-3 global-background-color">
  <!-- Contact and address information -->
  <p>
    Feuji Talent Gateway<br />
    Level 1, Unit 2A & 2B, Octave Block, Salarpuria Knowledge City, Raidurg,
    Hyderabad- 500081<br />
    Email: info.india@feuji.com <br />
    Phone: +91-40-42624114
  </p>

  <div class="row">
    <!-- Column for last updated information -->
    <div class="col-md-6 text-right">
      <p>Last updated: January 23, 2024</p>
    </div>

    <!-- Column for copyright information-->
    <div class="col-md-6">
      <p>&copy; 2024 Feuji Talent Gateway. All rights reserved.</p>
    </div>
  </div>
</footer>
