<header class="shadow p-3 bg-body-tertiary header-container">
  <div>
    <i class="fa-solid fa-bars" (click)="onToggleLayout()"></i>
  </div>
  <div class="nav-items">
    <div class="image-placeholder">
      <img
        class="img-fluid"
        [src]="profilePictureUrl ? profilePictureUrl : '../../../assets/images/profile.png'"
        alt="pic"
      />
    </div>
    <div>{{ userName }}</div>
    <i class="fa-sharp fa-solid fa-gear" (click)="toggleDropdown()"></i>
    <div *ngIf="showDropdown" class="menu-dropdown">
      <ul>
        <li class="drop-item" [routerLink]="['/main/change-password']">
          <i class="fa-solid fa-key"></i> &nbsp;<span class="profile">Change Password</span>
        </li>
        <li class="drop-item" [routerLink]="['/main/profile']">
          <i class="fa-solid fa-user"></i> &nbsp;<span class="profile">Profile</span>
        </li>
        <li class="drop-item logout" (click)="logOut()">
          <i
            class="fa-solid fa-right-from-bracket fa-sm"
            style="color: #ff0000"
          ></i>
          &nbsp;<span class="logout">Logout</span>
        </li>
      </ul>
    </div>
  </div>
</header>
