.header-nav {
  height: 4rem;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.264);
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  width: 25%;
  align-items: center;
  /* justify-content: ; */
}
.nav-items > div {
  margin: 0.5rem;
}
.image-placeholder {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
}

.img-fluid {
  border-radius: 50%;
}
.menu-dropdown {
  width: auto;
  padding: 5px;
  position: absolute;
  right: -5px;
  top: 3rem;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
  border: 1px solid orange;
  box-shadow: 0px 0px 5px var(--home-background-color);
}
.menu-dropdown ul {
  list-style: none;
  padding: 2px;
  width: 7rem;
  margin: 0;
  border-radius: 3%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}
.menu-dropdown ul > li {
  padding: 5px;
}
.menu-dropdown ul > li > span {
  text-decoration: none;
  color: #333;
}
.drop-item:hover {
  background-color: #ffe1d16b;
}
.logout {
  color: red !important;
}
