.main {
  margin: 10px;
}

.header {
  /* background-color: #ffe2d1; */
  background-color: #dddedf;
  padding: 8px;
  /* margin: 10px 0 10px 0; */
}
.header-cell{
  background-color: #ebebeb;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  min-height: 40px;
  height: 100%;
}

input[type="text"]:focus {
  outline: none;
  border-color: #838587;
  box-shadow: 0 0 5px rgba(118, 120, 122, 0.5);
}
.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer; /* Add this if you want the icon to be clickable */
}

table {
  width: 100%;
}

.header h1 {
  /* color: #D87033;
    font-weight: 600;
    font-size: xx-large; */
  color: #5b626b;
  font-weight: 600;
  font-size: x-large;
  margin-bottom: 0;
}
