<div class="container-fluid">
    <app-header></app-header>
    <div class="row justify-content-center align-items-center">
        <!-- Left Content (Project Information) -->
        <div class="col-md-7">
            <div class="col-md-8 offset-md-2">
                <div class="welcome">
                    <h1 class="project-name global-color">Feuji Talent Gateway</h1>
                    <h2 class="welcome-back global-color">Find your account!</h2>
                </div>
                <form [formGroup]="emailForm" class="form-container">
                    <!-- <h1>Image Analyzer Login</h1> -->
    
                    <!-- Username Field Start -->
                    <div class="row">
                        <label for="exampleFormControlInput1" class="input-label">Email</label>
                        <input type="email" class="form-control input-fields" id="email" placeholder="name@example.com"
                          formControlName="email" />
                        <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                            <span class="text-danger" *ngIf="getControl('email')?.errors?.['required']">Email is required.
                            </span>
                            <span class="text-danger" *ngIf="getControl('email')?.errors?.['maxlength']">Only 32 characters are allowed.
                            </span>
                            <span class="text-danger" *ngIf="getControl('email')?.errors?.['pattern']">Please enter a valid email.
                            </span>
                        </div>
                        <div *ngIf="!(getControl('email')?.errors && getControl('email')?.touched)">
                            <div class="empty-space"></div>
                        </div>
                    </div>
                    <!-- Email Field End -->
    
                    <div class= "row" id="sub-rout">
                        <div class="row justify-content-center submit-div">
                            <input id="login-input" type="submit" class="btn btn-primary btn-custom"
                            [disabled]="emailForm.status === 'INVALID' || isOtpSentDisabled
                          " (click)="sendOtpToEmail(emailForm)" value="Send OTP" />
                        </div>
                        <!-- <div class="row justify-content-center submit-div">
                            <input id="login-input" type="submit" class="btn btn-primary btn-custom"
                            [disabled]="false"
                            (click)="sendOtpToEmail(usernameForm)" value="Send OTP" />
                        </div> -->
                        <div class="empty-space2"></div>
                        <div class="row text-center rout">
                            <span> Want to
                                <a [routerLink]="['/login']"> Login</a>?</span>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Login Form -->
        </div>
        <!-- Right Content (Image) -->
        <div class="col-md-5">
            <img src="assets/images/forgot_password.svg" alt="select the correct path" class="img-fluid" />
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />