form {
  margin-top: 5%;
}
.welcome-back {
  font-size: 20px;
}

.container-fluid {
  margin-top: 7%;
}
.one {
  mix-blend-mode: multiply;
  margin-left: 28% !important;
}
.card {
  height: 450px !important;
}
.col-md-6 {
  margin-top: 8% !important;
}
.img {
  margin-top: 2% !important;
}
input {
  font-family: "Regular" !important;
  width: 70% !important;
  padding: 0% !important;
}
.input-group > span {
  padding: 1.5% !important;
}
.text-danger {
  font-size: 0.9rem;
  margin-left: 6%;
}
.mb-3 {
  margin-bottom: 1rem !important;
  margin-top: 5% !important;
}
.one > button {
  font-family: "Medium";
  font-size: 16px;
  font-weight: 600;
}
h3 {
  margin-top: -6% !important;
}
.text-center > span {
  margin-left: -22%;
  font-family: "Medium" !important;
}
.text-center > span > a {
  text-decoration: none !important;
  font-size: 16px !important;
  font-family: "SemiBold";
}

.custom .input-group-text {
  background-color: transparent;
  border: none;
}

.input-fields {
  border: none;
  border-bottom: 1px solid black;
  height: 40px;
  padding: 0;
  background-color: transparent;
}

.input-fields:focus {
  outline: none;
  border-bottom-color: #f37730;
}
.btn-custom {
  border: 1px solid #f37730;
}
.btn-custom:hover {
  background-color: #f37730;
  color: white;
}
