<app-header></app-header>
<div class="container-fluid custom">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-12 mx-auto">
      <div class="card login-card shadow p-3 rounded">
        <div class="card-body">
          <div class="row left-div">
            <h2 class="text-center global-color">Feuji Talent Gateway</h2>

            <div class="col-md-6">
              <div class="left-content">
                <div class="welcome">
                  <h3 class="welcome-back">Find your account!</h3>
                </div>
                <form [formGroup]="emailForm">
                  <div class="mb-3">
                    <!-- <div class="input-group">
                      <span class="input-group-text"
                        ><i class="fas fa-envelope"></i
                      ></span>
                      <input
                        type="email"
                        class="input-fields"
                        id="email"
                        placeholder="Email"
                        formControlName="email"
                      />
                    </div>
                    <div
                      *ngIf="
                        getControl('email')?.errors &&
                        getControl('email')?.touched
                      "
                    >
                      <span
                        class="text-danger"
                        *ngIf="getControl('email')?.errors?.['required']"
                        >Email is required.</span
                      >
                      <span
                        class="text-danger"
                        *ngIf="getControl('email')?.errors?.['maxlength']"
                        >Only 32 characters are allowed.</span
                      >
                      <span
                        class="text-danger"
                        *ngIf="getControl('email')?.errors?.['pattern']"
                        >Please enter a valid email.</span
                      >
                    </div> -->
                    <div class="container-1">
                      <div class="group">
                        <input required="true" class="main-input" type="email"  formControlName="email">
                        <span class="highlight-span"></span>
                        <label class="lebal-email">Enter your email</label>
                      </div>
                      <div
                      *ngIf="
                        getControl('email')?.errors &&
                        getControl('email')?.touched
                      "
                    >
                      <span
                        class="text-danger"
                        *ngIf="getControl('email')?.errors?.['required']"
                        >Email is required.</span
                      >
                      <span
                        class="text-danger"
                        *ngIf="getControl('email')?.errors?.['maxlength']"
                        >Only 32 characters are allowed.</span
                      >
                      <span
                        class="text-danger"
                        *ngIf="getControl('email')?.errors?.['pattern']"
                        >Please enter a valid email.</span
                      >
                    </div>
                    </div>
                  </div>
                  <div class="mb-3 one">
                    <button
                      id="login-input"
                      type="submit"
                      class="btn btn-outline-dark btn-custom"
                      [disabled]="
                        emailForm.status === 'INVALID' || isOtpSentDisabled
                      "
                      (click)="sendOtpToEmail(emailForm)"
                    >
                      Send OTP
                    </button>
                  </div>

                  <div class="text-center">
                    <span
                      >Want to
                      <a [routerLink]="['/main/login']" class="global-color"
                        >Login</a
                      >?</span
                    >
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6 img">
              <div class="right-content">
                <img
                  src="assets/images/forgot2.png"
                  alt="select the correct path"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>