.project-name {
  font-family: 'ExtraBold';
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 750;
  margin-bottom: 15px;
}

.submit-button {
  opacity: 0.7;
  cursor: pointer;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 30px;
  font-family: 'Bold';
}

.submit-button:hover {
  background-color: rgba(243, 119, 48, 1);
  opacity: 1;
  color: white;
}
.img-fluid{
  mix-blend-mode: multiply;
}
.features{
  background-color: #fff !important;
}

p{
  font-family: 'Regular';
}
h3{
  font-family: 'SemiBold';
  font-size: 18px;
  margin-top: 10%;
}
.mt-3{
  margin-top: 0% !important;
}
.col-md-4{
  margin-top: 3% !important;

}
.technical{
  font-family: 'Bold';
  font-size: 30px;
}
.line {
    width: 50%;
    margin: auto;
    margin-left: 50px;
    border: 1px solid rgba(0, 0, 0, 0.973); 
}
.last{
  margin-bottom: 5% !important;
}
.main-home{
  margin-top: 8%;
}
