<app-header></app-header>
<div class="content-container">
  <div class="left-content">
    <!-- Project Name  -->
    <div class="welcome">
      <h2 class="welcome-back">Welcome Back !</h2>
      <h1 class="project-name">Feuji Talent Gateway</h1>
    </div>
   
  </div>
  <!-- Picture of the Login Page  -->
  <div class="right-content">
    <img src="assets/images/feuji-home.png" alt="select the correct path" />
  </div>
</div>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
/>

