summary {
  list-style-type: none;
  cursor: pointer;
}
.level-1 {
  color: #005ba1;
  background-color: #d0e7f8;
}

.level-2 {
  color: #386304;
  background-color: #dbebc7;
}

.level-3 {
  color: #ffff;
  background-color: #7a7574;
}

.level-4 {
  color: #5d5a58;
  background-color: #e5e4e3;
}

.level-5 {
  color: #ffffff;
  background-color: #003966;
}

.level-6 {
  color: #4d291c;
  background-color: #e2d1cb;
}

.level-7 {
  color: #006666;
  background-color: #c2e7e7;
}

.level-8 {
  color: #ffff;
  background-color: #0078d4;
}

.level-9 {
  color: #ac2d7e;
  background-color: #fbddf0;
}

.level-10 {
  color: #000000;
  background-color: #ff8c00;
}

summary::after {
  margin-right: 5px;
  font-size: 19.5em !important; /* Increase the font size */
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.common-level {
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
  margin-right: 15px;
  padding: 2px 10px;
  font-family: "Medium";
}
.collapsed::after {
  content: "\25B8"; /* Unicode for right-pointing triangle */
  font-size: 30px;
}

.expanded::after {
  /* content: "\25BE"; Unicode for down-pointing triangle */
  font-size: 30px;
}
.options {
  padding: 5px;
}
.option {
  padding: 7px;
  margin: 5px 0px;
}

.correct {
  background-color: #ccf8cf82;
  color: black;
}

.correct-selected {
  background-color: #00dd0f33;
  color: black;
  border-radius: 5px;
}

.incorrect-selected {
  /* Define styles for incorrect and selected options */
}

.incorrect {
  /* Define styles for incorrect but not selected options */
}

.icon-select {
}
.option-container {
  display: flex;
}
.tic-mark-contaier {
  min-width: 30px;
}
.header-child {
  min-height: 40px;
}
.select {
  font-size: 16px;
  cursor: pointer;
  min-width: 150px;
  margin-bottom: 0;
  box-shadow: none;
  font-weight: 100;
  font-family: "Medium";
}
