<section *ngIf="examDetailsob$ | async as questions; else loadingTemplate">
  <div class="container">
    <div class="heading">
      <h2 class="exam-name">
        {{ examDetails.name }}
      </h2>
    </div>
    <div class="content">
      <ul>
        <li> Total duration of examination  <span class="time">{{examDetails.duration | timeFormat  }}</span>.</li>
        <li>Your response will only be considered official if saved. Otherwise, it will not be counted.</li>
        <li>The clock will be set at the server. The countdown timer in the top right corner of screen will display 
          the remaining time available for you to complete the examination. When the timer reaches zero, 
          the examination will end by itself. You will not be required to end or submit your examination.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A facilis culpa, esse illo, iste nobis ipsam, illum laudantium rerum aspernatur laboriosam quos aut placeat expedita tempore cupiditate porro minus tenetur!</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A facilis culpa, esse illo, iste nobis ipsam, illum laudantium rerum aspernatur laboriosam quos aut placeat expedita tempore cupiditate porro minus tenetur!</li>
      </ul>

    </div>

    <div class="footer">
      <div>
        <button routerLink="/user/exam/exam-code" class="btn btn-primary back-button">Back</button>
      </div>
      <div>
        <button (click)="startExam()"class="btn btn-primary submitt-button" >Start Exam</button>
      </div>
    </div>
  </div>
</section>
<ng-template #loadingTemplate>Loading...</ng-template>
