<section *ngIf="examDetailObject$ | async as examDetails; else loadingTemplate">
  <div class="container shadow p-5">
    <div class="heading">
      <h2 class="exam-name">{{ examDetails.name }}</h2>
    </div>
    <div class="content">
      <ul>
        <li><b>Exam Description :</b>{{ examDetails.description }}</li>
        <li>
          <small>
            Total duration of examination
            <span class="time">{{ examDetails.duration | timeFormat }}</span
            >.
          </small>
        </li>
        <li>
          <small>In this Exam total</small>
          <strong> &nbsp;{{ getTotalSubjects(examDetails) }} </strong>
          <small>subjects </small>
        </li>
        <li>
          <small>
            For each subject, there is a particular time allocated, and once you
            navigate to the next subject, you cannot return to the previous one
          </small>
        </li>
        <li>
          <small>
            To save your answer, you must press the 'Save and Next' button.
          </small>
        </li>
        <li>
          <small>
            You can see the number of questions for each subject in the table
            below
          </small>
        </li>
        <li>
          <small>
            Make sure you have a good internet connection before starting the
            exam
          </small>
        </li>
        <li>
          <small>
          This exam uses a secure testing application that will restrict certain functionalities to ensure exam integrity. Please be aware of the following limitations before you begin the exam:
          </small>
          <ul>
          <li><small><b>Full Screen Mode:</b> Will be forced into full screen mode during the exam. Exiting full screen mode will not be possible.</small></li>
          <li><small><b>Refresh: </b> Refreshing the browser page will be disabled. This is to prevent accidental loss of progress.</small></li>
          <li><small><b>Tab Switching:</b> Switching between browser tabs will be disabled. You will not be able to access other websites or applications while taking the exam.</small></li>
          </ul>
        </li>
        <li>
         
          <small>
            This exam is conducted under a <b>zero-tolerance policy for cheating.</b> Any attempt to gain an unfair advantage, such as copying may leads to disqualification from the exam
          </small>
        </li>
    </ul>
      <div class="subject-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">SN no</th>
              <th scope="col">Subject</th>
              <th scope="col">Questions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subject of examDetails.examSubjects; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ subject.subject.name }}</td>
              <td>{{ subject.maxQuestions }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <input
      type="checkbox"
      name=""
      id=""
      (click)="updateIsreaded()"
      class="ml-2"
    />
    <small for=""
      >&nbsp;&nbsp;I have read and understood the instructions</small
    >
    <div class="footer">
      <div>
        <button routerLink="/user/exam/exam-code" class="btn btn-secondary">
          Back
        </button>
      </div>
      <div>
        <button
          (click)="startExam()"
          class="btn btn-success submitt-button btn-custom"
          [disabled]="!this.isReaded"
        >
          Start Exam
        </button>
      </div>
    </div>
  </div>
</section>
<ng-template #loadingTemplate>Loading... </ng-template>
