<section *ngIf="examDetailObject$ | async as questions; else loadingTemplate">
  <div class="container">
    <div class="heading">
      <h2 class="exam-name">
        {{ examDetails.name }} - Instructions
      </h2>
    </div>
    <div class="content">
      <ul>
        <li><b>Exam Description :</b>{{ examDetails.description }}</li>
        <li>
          Total duration of examination
          <span class="time">{{ examDetails.duration | timeFormat }}</span
          >.
        </li>
        <li>
          In this Exam total
          <strong>{{ getTotalSubjects(examDetails) }}</strong> subjects
        </li>
      </ul>
      <div class="subject-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">SN no</th>
              <th scope="col">Subject</th>
              <th scope="col">Time</th>
              <th scope="col">Questions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subject of examDetails.examSubjects; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ subject.subject.name }}</td>
              <td>{{ subject.duration | timeFormat }}</td>
              <td>{{ subject.maxQuestions }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    <div class="footer">
      <div>
        <button
          routerLink="/user/exam/exam-code"
          class="btn btn-primary back-button"
        >
          Back
        </button>
      </div>
      <div>
        <button (click)="startExam()" class="btn btn-success submitt-button">
          Start Exam
        </button>
      </div>
    </div>
  </div>
</section>
<ng-template #loadingTemplate>Loading...</ng-template>
