/* General Styling */
.coding-questions {
  min-height: 50vh;
  background-color: #FFFFFF;
  top: 212px;
  left: 273px;
  border-radius: 6px;
  margin-top: 1%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.oops {
  margin-top: 7% !important;
  margin-left: 25% !important;
}

.question-list {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.2%;
  font-size: medium;
  overflow: visible;
}

.user-data {
  padding: 10px;
  font-family: 'Arial', sans-serif;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  color: #333;
}

/* Card Styling */
.card {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.arguments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.arguments-table th,
.arguments-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.arguments-table th {
  background-color: #f2f2f2;
}

.card-body {
  padding: 0px;
}

.content {
  font-size: 18px;
  color: #555;
}

.dropdown {
  font-size: 14px;
  color: #f70707;
  margin-top: 10px;
}

/* Details Styling */
.question-details summary {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s;
}

.question-details summary:hover {
  background-color: #f0f0f0;
}

.details-body {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #e0e0e0;
}

.details-body p {
  margin: 10px 0;
  color: #333;
}

.details-body ul {
  list-style-type: disc;
  padding-left: 20px;
}

.details-body .test-case {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #ffffff;
}

.details-body .input-argument {
  margin-left: 20px;
}

/* Toggle Icon Styling */
span.collapsed::before {

  content: "▼";
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.3s;
}

span.expanded::before {
  content: "▶";
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.3s;
}
