<div class="container">
  <!-- Main Header with two buttons -->
  <div class="header-container">
    <div class="main-header">
      <button class="main-button" (click)="selectTestCase()" [class.selected]="selectedButton === 'test-case'">
        <i class="fa-solid fa-square-check"></i> Test Cases
      </button>
      <button class="main-button" (click)="selectTestResult()" [class.selected]="selectedButton === 'test-result'">
        <i class="fa-solid fa-arrow-right-to-bracket"></i> Test Result
      </button>
    </div>
  </div>


  <div *ngIf="isTestCaseSelected">
    <div class="button-container">
      <div *ngFor="let testCase of currentCodingQuestion.testCases; let j = index">
        <div class="test-case-buttons">
          <button (click)="selectTestCaseButton(j)">Case {{(j + 1) }}</button>
        </div>
      </div>
    </div>
    <div class="content-container">
      <ng-container *ngFor="let testCase of currentCodingQuestion.testCases; let j = index">
        <div class="test-case" *ngIf="selectedCaseIndex === j">
          <div class="test-case-input">
            <strong>Input:</strong>
            <ul>
              <li *ngFor="let input of testCase.input | keyvalue">
                {{ input.key }} = "{{ input.value }}"
              </li>
            </ul>
          </div>
          <div class="test-case-output">
            <strong>Output:</strong> "{{ testCase.output }}"
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  
  <div *ngIf="!isTestCaseSelected">
    <div class="button-container">
      <div *ngFor="let testCase of currentCodingQuestion.testCases; let j = index">
        <div class="test-case-buttons">
          <button (click)="selectTestCaseButton(j)"> <i class="fa-solid fa-square-check"></i>Case {{(j + 1) }}</button>
        </div>
      </div>
    </div>
    <div class="content-container">
      <ng-container *ngFor="let testCase of currentCodingQuestion.testCases; let j = index">
        <div class="test-case" *ngIf="selectedCaseIndex === j">
          <div class="test-case-input">
            <strong>Input:</strong>
            <ul>
              <li *ngFor="let input of testCase.input | keyvalue">
                {{ input.key }} = "{{ input.value }}"
              </li>
            </ul>
          </div>
          <div class="test-case-output">
            <strong>Output:</strong> "{{ testCase.output }}"
          </div>
        </div>
      </ng-container>
    </div>
    <div class="exam-message">
      <span>You need to run the Exam first</span>
    </div>
    <div class="exam-message">
      <span>Error</span>
    </div>
  </div>
</div>