<div
  class="container-fluid coding-question-heading"
  *ngIf="!isEditCodingQuestion"
>
  Add Coding Question
</div>
<div *ngIf="isEditCodingQuestion">edit coding-question works!</div>

<mat-horizontal-stepper linear #stepper class="main-div">
  <mat-step [stepControl]="codingQuestionDetailsForm">
    <ng-template matStepLabel>Coding Question</ng-template>
    <form [formGroup]="codingQuestionDetailsForm">
      <div class="form-row">
        <label for="content">Question<sup class="required-field">*</sup></label>
        <div>
          <input
            id="content"
            class="form-control"
            type="text"
            formControlName="content"
          />
        </div>
      </div>
      <div class="form-row">
        <label for="description"
          >Description<sup class="required-field">*</sup></label
        >
        <div>
          <input
            id="description"
            class="form-control"
            type="text"
            formControlName="description"
          />
        </div>
      </div>
      <div class="form-row">
        <label for="difficultyLevel"
          >Difficulty Level<sup class="required-field">*</sup></label
        >
        <div>
          <select
            class="form-select"
            id="difficultyLevel"
            class="form-select"
            formControlName="difficultyLevel"
          >
            <option *ngFor="let type of numbers" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
      </div>
      <form [formGroup]="codingQuestionConstraintsDetailsForm">
        <div class="form-row mt-2">
          <label for="constraint">
            Constraints&nbsp;&nbsp;
            <i
              class="fa-solid fa-circle-plus fa-lg text-success"
              (click)="addConstraint()"
            ></i
            >&nbsp;&nbsp;
          </label>
          <div formArrayName="constraints">
            <div
              *ngFor="
                let constraintGroup of constraints.controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <div class="form-row mt-2">
                <label>Constraint<sup class="required-field">*</sup></label>
                <div class="input-with-icon">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="constraint"
                  />
                  <i
                    class="fa-solid fa-circle-minus fa-lg text-danger"
                    (click)="removeConstraint(i)"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="mt-3">
        <button
          mat-button
          matStepperNext
          class="btn btn-outline-success"
          (click)="addCodingQuestionDetaials()"
        >
          Add Method
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="codingQuestionMethodDetailsForm">
    <ng-template matStepLabel>Add Method</ng-template>
    <form [formGroup]="codingQuestionMethodDetailsForm">
      <div class="form-row">
        <label for="content"
          >Method Name<sup class="required-field">*</sup></label
        >
        <div>
          <input
            id="content"
            class="form-control"
            type="text"
            formControlName="methodName"
          />
        </div>
      </div>
      <div class="form-row mt-3">
        <button
          type="button"
          class="btn btn-outline-secondary btn-md"
          (click)="addArgumentDetails()"
        >
          Add Arguments&nbsp;&nbsp;<i class="fa-solid fa-circle-plus"></i>
        </button>

        <form [formGroup]="codingQuestionMethodDetailsForm">
          <div formArrayName="methodArguments">
            <div
              *ngFor="let argument of methodArguments.controls; let i = index"
              class="argument-container"
            >
              <div [formGroupName]="i">
                <label class="mt-2">Argument :</label>
                <input
                  formControlName="argumentPosition"
                  class="form-control"
                  placeholder="Enter Argument Position"
                />

                <label class="mt-2">Argument Name:</label>
                <input formControlName="argumentName" class="form-control" />
                <label class="mt-2">Argument Data Type:</label>
                <div class="data-type-container">
                  <div *ngFor="let dataTypeName of dataTypes" class="data-type">
                    <span>
                      <input
                        type="radio"
                        [name]="'dataType' + i"
                        class="data-type-option"
                        (click)="setDataType(dataTypeName, i)"
                        [checked]="dataTypeName === dataType"
                      />
                      <label for="{{ dataTypeName }}">{{ dataTypeName }}</label>
                    </span>
                    <div
                      *ngIf="
                        dataTypeName === 'primitive' &&
                        getDataTypeOfForm(i, 'primitive')
                      "
                      class="dropdown-container"
                    >
                    <select class="form-select" formControlName="primitiveDataType">
                      <ng-container *ngFor="let type of dataTypesFromJava">
                        <option *ngIf="!(type.collection)" [value]="type.id">
                          {{ type.commonDataType }}
                        </option>
                      </ng-container>
                    </select>
                    
                    </div>
                    <div
                      *ngIf="
                        dataTypeName === 'collection' &&
                        getDataTypeOfForm(i, 'collection')
                      "
                      class="form-row row"
                    >
                      <div class="form-group mt-2 col-md-6">
                        <select class="form-select" formControlName="collectionDataType">
                          <ng-container *ngFor="let type of dataTypesFromJava">
                            <option *ngIf="(type.collection)" [value]="type.id">
                              {{ type.commonDataType }}
                            </option>
                          </ng-container>
                        </select>
                      </div>
                      <div class="form-group mt-2 col-md-6">
                        <select class="form-select" formControlName="primitiveDataType">
                          <ng-container *ngFor="let type of dataTypesFromJava">
                            <option *ngIf="!(type.collection)" [value]="type.id">
                              {{ type.commonDataType }}
                            </option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-sm small"
                  (click)="addArgumentDetails()"
                >
                  Add Arguments&nbsp;&nbsp;<i
                    class="fa-solid fa-circle-plus"
                  ></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm small"
                  (click)="removeArgumentDetails(i)"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="form-row">
        <label for="description"
          >Return Type<sup class="required-field">*</sup></label
        >
        <div>
          <select class="form-select" formControlName="returnType">
            <ng-container *ngFor="let type of dataTypesFromJava">
              <option *ngIf="!(type.collection)" [value]="type.id">
                {{ type.commonDataType }}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
      <div>
        <button
          mat-button
          matStepperPrevious
          class="btn btn-outline-secondary button mt-3"
        >
          Back
        </button>
        <button
          mat-button
          matStepperNext
          class="btn btn-outline-success button mt-3"
          (click)="addCodingQuestionDetaials()"
        >
          Add Test Cases
        </button>
      </div>
    </form>
  </mat-step>



  <mat-step [stepControl]="codingQuestionTestCasesDetailsForm">
    <ng-template matStepLabel>Add Test Cases</ng-template>
    <form [formGroup]="codingQuestionTestCasesDetailsForm">
      <div class="row" formArrayName="testCases">
        <div *ngFor="let testCase of testCases.controls; let i = index" [formGroupName]="i">
          <div class="row">
            <label for="expectedResult">Expected Result<sup class="required-field">*</sup></label>
            <input type="text" class="form-control" formControlName="expectedResult" />
          </div>
          <div class="row">
            <label for="explanationExample">Explanation Example<sup class="required-field">*</sup></label>
            <input type="text" class="form-control" formControlName="explanationExample"/>
          </div>
          </div>
          <div>
          </div>
        </div>
      </div>
      <div>
        <button
          mat-button
          matStepperPrevious
          class="btn btn-outline-secondary button mt-3"
        >
          Back
        </button>
        <button
          mat-button
          matStepperNext
          class="btn btn-outline-success button mt-3"
          (click)="printDetails('s')"
        >
          Preview & Save
        </button>
      </div>

    </form>
  </mat-step>
  
    
    <mat-step>
      <ng-template matStepLabel>Preview & Save</ng-template>
      <div>
        <div>
          <p>Content: {{ codingQuestionDetailsForm.value.content }}</p>
          <p>Description: {{ codingQuestionDetailsForm.value.description }}</p>
          <p>Difficulty Level: {{ codingQuestionDetailsForm.value.difficultyLevel }}</p>
        </div>
        <div *ngFor="let constraint of codingQuestionDetailsForm.value.constraints">
          <p>Constraint: {{ constraint.constraint }}</p>
        </div>
        <hr>
        <div>
          <p>Method Definition:</p>
          <p>Method Name: {{ codingQuestionDetailsForm.value.methodDefination.methodName }}</p>
          <p>Return Type: {{ codingQuestionDetailsForm.value.methodDefination.returnType }}</p>
          <div *ngFor="let argument of codingQuestionDetailsForm.value.methodDefination.methodArguments">
            <p>Argument Name: {{ argument.argumentName }}</p>
            <p>Data Type: {{ argument.primitiveDataType }}</p>
            <p>Data Type: {{ argument.collectionDataType }}</p>
            <!-- Add more properties as needed -->
          </div>
        </div>
        <hr>
        <div *ngFor="let testCase of codingQuestionDetailsForm.value.testCases">
          <h4>Test Case:</h4>
          <p>Expected Result: {{ testCase.expectedResult }}</p>
          <p>Explanation Example: {{ testCase.explanationExample }}</p>
          <!-- Add input arguments display if needed -->
        </div>
        <button mat-button matStepperPrevious class="btn btn-outline-secondary button">
          Back
        </button>
        <button mat-button (click)="stepper.reset()" class="btn btn-outline-success button">
          Save
        </button>
      </div>
    </mat-step>
  
</mat-horizontal-stepper>
