  <div class="code-editor-container">
    <div class="code-editor-box">
      <!-- Your coding questions content here -->
      <!-- Example content -->
      <!-- Add more coding questions as needed -->
     <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, minus, fugit provident non enim magnam vel minima aspernatur est officia neque sequi! Totam nobis voluptatem placeat ea perspiciatis, magni culpa natus repudiandae quo, consequuntur dolorum dignissimos facilis ducimus possimus odit repellat. Veniam eveniet quidem dolore cum est deleniti natus quia laborum iure soluta! Beatae porro ut at adipisci facere sit asperiores nobis architecto, minima officia, voluptatum dicta recusandae quos, mollitia eaque. Quae fugiat quos deserunt distinctio? Magni culpa minima, aperiam natus odio iste iusto numquam esse quas quam vitae omnis pariatur. Officia, numquam quaerat. Id culpa quod vero tempora suscipit.</p> -->
    <textarea name="" id="" cols="300" rows="10"  [(ngModel)]="code" 
    (ngModelChange)="onCodeChange($event)"></textarea>
    </div>
  </div>
  

