.exam-name{
    background-color:white;
    color: var(--primary-color);
    font-family: 'SemiBold';
    margin-top: 1%;
    padding: 10px;
    position: sticky;
    top: 12%;
    z-index: 1;
}
.exam-name>h2{
text-align: center;}
.icons{
    text-align: center;

}
.table-header{
    background-color: #EFF2F7 !important;  
}
.detail{
    text-align: center !important;
}
.status-button{
    border: none;
    background-color: #f3410be9;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    padding: 3px 10px;
}

.completed {
    background-color: #34C38F2E;
    color: #34C38F;
    
}

.in-progress {
    background-color: #F1B44C2E;
    color: #F1B44C;
   
}

.not-started {
    background-color:#F46A6A2E;
    color: #F46A6A; 
   
}
.filter-and-button {
    display: flex;
    align-items: center;
  }
  
  .filter-and-button .filter {
    flex: 0.5;
  }
  
  .filter-and-button .filter input {
    width: 30%; 
  }
  
 
  .disabled {
    opacity: 0.5; 
    pointer-events: none; 
  }
  .filter>input{
    background-color: white;
  }
  mat-mdc-text-field-wrapper{
    background-color: white;


  }
  