.exam-name{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: 'Bold';
    margin-top: 1%;
    padding: 10px;
    position: sticky;
    top: 12%;
}
.test{
    font-family: 'Regular';
    margin-top: 2%;
}
.container{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;

}
.average{
    margin-top: 4%;
    font-family: 'Bold';
}
.icons{
    margin-top: 4%;
}
.user-result{
    margin-left: 80%;
    background-color: #0BC279;
    color:#FFFFFF;
    border: none;
}

.summary{
    margin-top: 3%;
    background-color: #FFFFFF;
    font-family: 'Regular';
    border-radius: 5px;
    position: relative;
    height: auto;
    padding: 5px;
}
.Configuration Summary{
    font-family: 'SemiBold';
}
.summary.heading{
    font-family: 'SemiBold';
}
.summary>div{
    margin: 2%;
}
ul{
    list-style-type: var(--primary-color) !important;
}
ul>li{
    margin: 0.5%;
}
.test-time{
    margin-bottom: 0%;
}