.inputField {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  ng-otp-input {
    display: flex;
    justify-content: center;
    gap: 15px; /* Add space between input boxes */
  }
  
  button {
    border-radius: 10px;
    color: #ffffff;
  }
  
  button:hover {
    background-color:rgba(243, 119, 48, 1);
    opacity: 1;
    color: #ffffff; /* Darker shade for hover */
  }
  
  .anchor-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .anchor-container a {
    color: #f3752e;
    text-decoration: none;
    font-size: 14px;
  }
  
  .anchor-container a:hover {
    text-decoration: underline;
  }
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }

  mat-dialog-content {
    overflow: hidden;
  }
  