<h2 mat-dialog-title>Email Verification</h2>
<mat-dialog-content>
  We have sent an SMS to <b>{{userDetails.emailId}}</b> with a 6-digit verification code.
</mat-dialog-content>
<div class="inputField">
  <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
</div>
<div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
<br>
<div class="anchor-container">
  <a href="#">Resend Code</a>
  <button mat-stroked-button  (click)="verifyOtp()">Verify Otp</button>
</div>
