<ngx-ui-loader></ngx-ui-loader>
<app-header></app-header>
<div class="container-fluid custom">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-7">
      <div class="card login-card shadow p-3 rounded">
        <div class="card-body">
          <h1 class="project-name global-color">SIGN IN</h1>
          <form (ngSubmit)="onLogin()" [formGroup]="userForm!">
            <label for="username">
              <i class="fas fa-user"></i>&nbsp;&nbsp;Username</label
            >
            <input
              id="username"
              type="text"
              class="inputs border-none"
              placeholder="Enter your Username"
              formControlName="userName"
            />
            <div
              class="error-message"
              *ngIf="
                (userForm?.get('userName')?.hasError('required') &&
                  userForm?.get('userName')?.touched) ||
                (formSubmitted &&
                  userForm?.get('userName')?.hasError('required'))
              "
            >
              Username is required.
            </div>
            <div class="password">
              <label for="password"
                ><i class="fas fa-lock"></i>&nbsp;&nbsp;Password</label
              >
              <a
                routerLink="/main/forgot-password"
                class="forgot-password global-color"
                >Forgot Password?</a
              >
            </div>
            <div class="password-container">
              <input
                id="password"
                class="inputs border-none"
                [type]="isPasswordVisible ? 'text' : 'password'"
                placeholder="Password"
                formControlName="password"
              />
              <i
                class="fa-solid {{
                  isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'
                }}"
                id="eye"
                (click)="ToggleEye()"
              ></i>
            </div>
            <div
              class="error-message"
              *ngIf="
                (userForm?.get('password')?.hasError('required') &&
                  userForm?.get('password')?.touched) ||
                (formSubmitted &&
                  userForm?.get('password')?.hasError('required'))
              "
            >
              Password is required.
            </div>
            <button
              [disabled]="!userForm?.valid"
              class="btn btn-primary submit-button global-background-color global-white-color"
              [ngClass]="{
                'submit-button': userForm && userForm.valid,
                'submit-invalid': userForm && !userForm.valid
              }"
            >
              Submit
            </button>
            <div class="register">
              <a
                routerLink="/main/register"
                class="forgot-password global-color"
                >New to FTG ?</a
              >
            </div>
            <div class="row middle-or">OR</div>
            <div id="google-btn"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

