<app-header></app-header>
<div class="content-container">
  <div class="left-content">
    <h1 class="welcome">Welcome Back !</h1>
    <h1 class="name">Feuji Talent Gateway</h1>
      <form>
          <label for="username">Username</label><br>
          <input type="text" id="username" name="username" placeholder="Enter your Username"required><br>

          <label for="password">Password</label><br>
          <input type="password" id="password" name="password" placeholder="Password">
          <a href="#" class="forgot-password">Forgot Password?</a><br>
          <input type="submit" value="Login">
      </form>
  </div>
  <div class="right-content">
      <!-- Content for the right div goes here -->
      <img src="assets/images/feuji-image.png" alt="">
  </div>
</div>



