.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.welcome .welcome-back {
  font-family: 'Regular';

}
.welcome .project-name {
  font-family: 'Bold';
}
label {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
}
form {
  width: 50%;
  margin: auto;
}
.inputs {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 25px;
  font-family: 'Light';

}
.submit-button {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
}
.submit-invalid {
  opacity: 0.7;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
}
a {
  text-decoration: none;
  font-size: 15px;

}
p {
  margin-top: 15px;
  margin-left: 30px;
  font-size: 13px;

}
.password {
  display: flex;
  justify-content: space-between;
}
.forgot-password{
  font-family: 'Regular';
  font-size: 13px;
  color: black;
}

.fa-eye,
.fa-eye-slash {
  position: absolute;
  top: 18%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}

.password-container {
  padding: 0px;
  border: none;
  position: relative;
}
.error-message {
  color: red;
  font-family: 'Light';
  margin-top: -25px;
  font-size: 15px;
}

@media (min-width: 308px) {
  .welcome .project-name,
  .welcome .welcome-back {
    font-size: 2.5rem;
  }
}

@media (min-width: 470px) {
  .welcome .project-name,
  .welcome .welcome-back {
    font-size: 3rem;
  }
}

@media (min-width: 924px) {
  .welcome .project-name,
  .welcome .welcome-back {
    font-size: 3rem;
  }
}
