.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-family: "SemiBold";
}
label {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
}
form {
  width: 75%;
  margin: 6%;
  margin-left: 12%;
}

.inputs {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Medium";
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}
.inputs:focus,
.inputs:not(:placeholder-shown) {
  border-bottom-color: #f3752e;
}
.password-container {
  position: relative;
}

.error-message {
  color: red;
}
.submit-button {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
}
.submit-invalid {
  opacity: 0.7;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 7px;
}
a {
  text-decoration: none;
  font-size: 15px;
}
p {
  margin-top: 15px;
  margin-left: 30px;
  font-size: 13px;
}
.password {
  display: flex;
  justify-content: space-between;
}
.forgot-password {
  font-family: "Regular";
  font-size: 13px;
  font-weight: 600;
  color: black;
}

.fa-eye,
.fa-eye-slash {
  position: absolute;
  top: 18%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}
.img-fluid {
  mix-blend-mode: multiply;
}

.password-container {
  padding: 0px;
  border: none;
  position: relative;
}
.error-message {
  color: red;
  font-family: "Light";
  margin-top: -25px;
  font-size: 15px;
}
.login-card {
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
  height: 500px;
}
.login-card input[type="text"],
.login-card input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}
.middle-or{
  font-family: "Bold";
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 15px;
  display: block;
  margin-left: 35%;
  margin-top: 3%;
  color: #a0a7b3;
}

.signup {
  opacity: 0.9;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: 1px solid #a0a7b3;
  border-radius: 20px;
  margin-top: 7px;
}
.signup > a {
  color: black;
  font-size: 15px;
  font-weight: 500;
}
.signup:hover {
  border: 1px solid #f3752e;
}
.signup:hover a {
  opacity: 1;
  color: #f3752e;
  font-size: 15px;
  font-weight: 500;
}
.custom {
  margin-top: 7%;
}

@media (max-width: 768px) {
  .login-card {
    margin-top: 20px;
  }
}

#google-btn{
  margin-top: 7px;
  display: flex;
  justify-content: center;
}

.register {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  margin-top: 3px; /* Adjust as needed */
}

