<aside>
  <div class="row">
    <div class="side-nav">
      <img class="image-logo" src="assets/images/feuji-logo-bg.png" />
      <div class="nav-list">
        <div *ngFor="let route of listOfRoutes" class="nav-item">
          <span (click)="toggleSubmenu(route)" class="main-menu">
            <i class="{{ route.icon }}"></i> &nbsp;<span>{{ route.title }}</span> &nbsp;
          </span>
          <ul *ngIf="route.active && route.submenu.length > 0"  class="sub">
            <ng-container *ngFor="let submenu of route.submenu">
              <li  class="submenu-link">
                <a [routerLink]="submenu.path" routerLinkActive="active" class="submenu">
                <i class="{{ submenu.icon }}"></i> &nbsp;
                <span>{{ submenu.title }}</span> &nbsp;
                </a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>