.header {
  margin-top: 10px;
  border-color: #e6e9ed;
  background-color: #ebebee;
}
.header h1 {
  margin-bottom: 0;
  color: #5b626b;
  font-weight: 600;
  font-size: x-large;
  padding: 0.5rem 1rem;
}
.schedule-exam-form {
  background-color: rgb(241, 243, 245);
  margin: auto;
  margin-bottom: 10px;
  padding: 1rem 0.3rem;
}

.schedule-exam-form form {
  margin: -1px 20px 2px 25px;
}

.exam-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  margin-top: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
}

.form-checkbox {
  margin-top: 5px;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.exam-subject-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.3fr;
  grid-column-gap: 10px;
}
.remove-subject {
  margin-top: 30%;
  height: 60%;
}

.main-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.form-row {
  margin-top: 10px;
}
.active {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.add-user {
  width: 10%;
  margin: 20px 0;
  margin-right: 20px;
}

.submit-btn {
  text-align: center;
}

button,
input,
optgroup,
select,
textarea,
.mat-mdc-select,
.total-duration-value {
  margin: 0;
  font: normal 500 14px/21px var(--font-family);
}

label,
.total-duration {
  font-family: var(--font-family);
  font-weight: var(--label-font-weight);
  font-size: var(--label-font-size);
  color: rgb(51, 51, 51);
  /* Add other font properties as needed */
}
.validsubmit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.invalidsubmit-button {
  background-color: rgb(163, 159, 159);
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: none;
}
.btn-div {
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 3rem;
  margin: 10px;
}
.subject-duration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

button {
  padding: 8px 20px;
}
.required-field {
  color: red;
}
.total-duration {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgb(51, 51, 51);
  /* Add other font properties as needed */
}
.hide {
  position: relative;
  left: -100000px;
}

.form-control::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  /* color: rgb(51, 51, 51); */
  color: #888; /* Placeholder text color */
}
.sub-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 100%; */
  /* min-height: 40px; */
}

.sub-duration label {
  font-size: larger;
}

.sub-duration div {
  width: 30%;
}

.sub-duration select {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.coding-button{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 600px) {
  .exam-form {
    grid-template-columns: 1fr;
  }
  .main-fields {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }
  .exam-subject-item {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }
  /* .sub-duration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  } */
  .sub-duration div {
    width: 100%;
  }
  .subject-duration {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* .btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .remove-subject {
    margin-top: 0;
    height: auto;
    width: fit-content;
  }
  .add-user {
    width: 30%;
    margin: 20px 0;
  }
  .btn-div {
    column-gap: 1rem;
  }
  .btn-div button {
    margin: 10px 0;
  }
  
}
