
.header{
  margin-top: 10px;
  background-color: #FFE2D1;
}
.header h1{
  color: #D87033;
  font-weight: 600;
  font-size: xx-large;
  padding: .5rem 1rem;
}
 .schedule-exam-form {
   background-color: rgb(241, 243, 245);
   margin: auto;
   margin-bottom: 10px;
   margin-top: 10px;
   padding: 1rem .3rem;
 }
 
.exam-table .header-cell {
    background-color: #FFE2D1; 
  }
  
  
  .schedule-exam-form form{
    margin: -1px 20px 15px 25px; 
  }
  
  .exam-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
  }
  
  .form-checkbox {
    margin-top: 5px;
  }
  
  .error-msg {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  
  
  
  