<div>
  <div class="header">
    <h1>{{ isEditing ? "Update Exam" : "Schedule Exam" }}</h1>
  </div>
  <div class="schedule-exam-form mat-elevation-z8">
    <form [formGroup]="examForm" class="exam-form">
      <div class="main-fields form-row">
        <div>
          <label for="name">Name <span class="required-field">*</span></label>
          <input
            type="text"
            id="name"
            formControlName="name"
            required
            class="form-control"
            placeholder="Exam name"
          />

          <div
            *ngIf="
              examForm.get('name')?.hasError('required') &&
              examForm.get('name')?.touched
            "
            class="error-msg"
          >
            Name is required.
          </div>
          <div
            *ngIf="
              examForm.get('name')?.hasError('maxlength') &&
              examForm.get('name')?.touched
            "
            class="error-msg"
          >
            Maximum length is 255 characters.
          </div>
        </div>

        <div>
          <label for="examCode"
            >Exam Code<span class="required-field">*</span></label
          >
          <input
            type="text"
            id="examCode"
            formControlName="examCode"
            required
            class="form-control"
            placeholder="Exam code"
          />
          <div
            *ngIf="
              examForm.get('examCode')?.hasError('required') &&
              examForm.get('examCode')?.touched
            "
            class="error-msg"
          >
            Exam Code is required.
          </div>
          <div
            *ngIf="
              examForm.get('examCode')?.hasError('maxlength') &&
              examForm.get('examCode')?.touched
            "
            class="error-msg"
          >
            Maximum length is 50 characters.
          </div>
        </div>
        <div class="active d-flex align-items-center">
          <div>
            <label for="active"
              >Active<span class="required-field">*</span></label
            >
            &nbsp; &nbsp;
            <mat-slide-toggle
              color="warn"
              id="active"
              formControlName="active"
            ></mat-slide-toggle>
          </div>
        </div>

        <div>
          <label for="startDate"
            >Start Date<span class="required-field">*</span></label
          >
          <input
            type="date"
            id="startDate"
            formControlName="startDate"
            required
            class="form-control"
            [min]="minStartDate"
          />

          <div
            *ngIf="
              examForm.get('startDate')?.hasError('required') &&
              examForm.get('startDate')?.touched
            "
            class="error-msg"
          >
            Start Date is required.
          </div>

          <div
            *ngIf="
              examForm.get('startDate')?.hasError('dateRange') &&
              examForm.get('startDate')?.touched
            "
            class="error-msg"
          >
            {{ examForm.get("startDate")?.getError("dateRange") }}
          </div>
        </div>

        <div>
          <label for="endDate"
            >End Date<span class="required-field">*</span></label
          >
          <input
            type="date"
            id="endDate"
            formControlName="endDate"
            required
            class="form-control"
            [min]="minStartDate"
          />

          <div
            *ngIf="
              examForm.get('endDate')?.hasError('required') &&
              examForm.get('endDate')?.touched
            "
            class="error-msg"
          >
            End Date is required.
          </div>
          <div *ngIf="examForm.hasError('dateRange')" class="error-msg">
            End Date must be greater than Start Date
          </div>

          <div
            *ngIf="
              examForm.get('endDate')?.hasError('dateRange') &&
              examForm.get('endDate')?.touched
            "
            class="error-msg"
          >
            {{ examForm.get("endDate")?.getError("dateRange") }}
          </div>
        </div>

        <!-- Inside your form -->

        <div>
          <label for="duration"
            >Duration<span class="required-field">*</span></label
          >
          <div class="sub-duration">
            <div>
              <select
                id="hours"
                formControlName="hours"
                class=""
                (change)="mapSubDurationToDuration()"
              >
                <option *ngFor="let hour of hoursArray" [value]="hour">
                  {{ hour }}
                </option>
              </select>
            </div>
            <label for="minutes">:</label>
            <div>
              <select
                id="minutes"
                formControlName="minutes"
                class=""
                (change)="mapSubDurationToDuration()"
              >
                <option *ngFor="let minute of minutesArray" [value]="minute">
                  {{ minute }}
                </option>
              </select>
            </div>
            <label for="seconds">:</label>
            <div>
              <select
                id="seconds"
                formControlName="seconds"
                class=""
                (change)="mapSubDurationToDuration()"
              >
                <option *ngFor="let second of secondsArray" [value]="second">
                  {{ second }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="description">Description*</label>
        <textarea
          id="description"
          formControlName="description"
          required
          class="form-control"
          placeholder="Description"
        ></textarea>
        <div
          *ngIf="
            examForm.get('description')?.hasError('required') &&
            examForm.get('description')?.touched
          "
          class="error-msg"
        >
          Description is required.
        </div>
        <div
          *ngIf="
            examForm.get('description')?.hasError('maxlength') &&
            examForm.get('description')?.touched
          "
          class="error-msg"
        >
          Maximum length is 255 characters.
        </div>
      </div>

      <div class="subject-duration form-row">
        <div class="subject-list">
          <label for="subjectControl"
            >Subjects<span class="required-field">*</span></label
          >
          <mat-select
            multiple
            id="subjectControl"
            required
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="selectedSubjectIds"
            (selectionChange)="onSubjectSelected()"
            #subjectControl="ngModel"
          >
            <mat-option *ngFor="let subject of subjects" [value]="subject.id">
              {{ subject.name }}
            </mat-option>
          </mat-select>
          <div *ngIf="subjectControl.touched && !isValid()" class="error-msg">
            At least one subject is required.
          </div>
        </div>
      </div>

      <ng-container
        formArrayName="examSubjects"
        *ngFor="let subjectGroup of getExamSubjectsControls(); let i = index"
      >
        <div [formGroupName]="i" class="exam-subject-item form-row">
          <div>
            <label for="subjectName{{ i }}"
              >Subject<span class="required-field">*</span></label
            >
            <input
              id="subjectName{{ i }}"
              readonly
              formControlName="subjectName"
              class="form-control"
            />
          </div>

          <div>
            <label for="maxQuestions{{ i }}"
              >Max Questions<span class="required-field">*</span></label
            >
            <mat-select
              id="maxQuestions{{ i }}"
              formControlName="maxQuestions"
              class="form-control"
            >
              <mat-option
                *ngFor="let count of maxQuestionsArray"
                [value]="count"
                >{{ count }}</mat-option
              >
            </mat-select>
            <div
              *ngIf="
                subjectGroup.get('maxQuestions')?.hasError('required') &&
                subjectGroup.get('maxQuestions')?.touched
              "
              class="error-msg"
            >
              Max Questions is required.
            </div>
          </div>

          <div>
            <label for="startingDifficultyLevel{{ i }}"
              >Starting Difficulty<span class="required-field">*</span></label
            >
            <mat-select
              id="startingDifficultyLevel{{ i }}"
              formControlName="startingDifficultyLevel"
              class="form-control"
            >
              <mat-option
                *ngFor="let difficultyLevel of difficultyLevelArray"
                [value]="difficultyLevel"
                >{{ difficultyLevel }}</mat-option
              >
            </mat-select>
            <div
              *ngIf="
                subjectGroup
                  .get('startingDifficultyLevel')
                  ?.hasError('required') &&
                subjectGroup.get('startingDifficultyLevel')?.touched
              "
              class="error-msg"
            >
              Strting Difficulty Level is required.
            </div>
          </div>

          <button
            class="btn btn-outline-secondary remove-subject"
            type="button"
            pInputText
            pTooltip="Remove Option"
            (click)="removeExamSubject(i)"
            tooltipPosition="bottom"
          >
            <mat-icon aria-hidden="false" color="red" aria-label="Remove icon"
              >clear</mat-icon
            >
          </button>

          <!-- Add other form controls for the subject as needed -->
        </div>
      </ng-container>
      <p
        mat-raised-button
        #tooltip="matTooltip"
        matTooltip="Add Users"
        [matTooltipPosition]="'right'"
        matTooltipHideDelay="100"
        aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        class="example-button btn btn-outline-secondary add-user"
        (click)="addUsers($event)"
      >
        <mat-icon aria-hidden="false" aria-label="Example plus icon"
          >person_add</mat-icon
        >
      </p>
    </form>
    <div class="d-flex justify-content-end btn-div">
      <button
        class="submit-btn btn btn-success"
        [disabled]="examForm.invalid"
        type="submit"
        (click)="onSubmit()"
      >
        {{ isEditing ? "Update Exam" : "Schedule Exam" }}
      </button>
      <button
        *ngIf="isEditing"
        class="btn btn-secondary"
        [routerLink]="['/admin/exams/viewExams']"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
