.welcome{
    margin-top: 6%;
}
#eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #bbb;
    margin-right: 33%;
}

.input-fields {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
}

.input-label {
    font-size: 1rem;
    margin-bottom: 1%;
}


.text-danger {
    font-size: 0.7rem;
    font-family: 'Medium';
    margin-top: 8%;
}

.disabled-button {
    cursor: not-allowed;
    opacity: 0.8;
}

::placeholder {
    color: #aaa;
    font-family: 'Regular';
}

.input-container {
    position: relative;
}

.input-fields {
    padding-right: 2rem;
    border: none;
    border-radius: 0px;
    border-bottom:1px solid black;
    width: 70%;
}

.btn-custom {
    color: white;
    background-color: #f3752e;
    border: none;
    width: 25%;
}

.container-fluid{
    margin-top: 7% !important;
}

.img-fluid{
    height: 350px;
}
form{
    margin-top: 7% !important;
}
img{
    margin-left: 7% !important;
}
.icon-img{
    margin: 0% !important;
    margin-right: 1% !important;
}
.submit-div{
    margin-left: -20% !important;
}
.error-message{
    margin-bottom: 1% !important;
}
.empty-space{
    height: 25px;
}