<section>
    <section>
      <div class="container">
        <div class="heading"></div>
        <div class="content">
            <img src="../../../../assets/images/submitted.svg" alt="nothing" class="submited-image">
            <h1 class="completed">Completed !</h1>
        </div>
        <h4 class="text">Your answers have been submitted successfully . You can check your score now </h4>

        <div class="footer">
            <button class="btn btn-success" (click)="viewResult()">View Result</button>
            <button class="btn btn-success">Back To Home</button>
        </div>
      </div>
    </section>
  </section>
  