nav {
    height: 67px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.00);
    backdrop-filter: blur(2px);
    padding: 20px 20px;
}
.auto-growth{
    flex-grow: 1;
}
nav div a{
    color: #576368;
}
nav div a:hover{
    color: rgba(243, 119, 48, 1); 
    transition: color 0.1s ease-in-out;
}
nav .nav-links{
    color: #000;
    /* font-family: Inter; */
    font-size: 1.350rem;
    font-size: 120%;
    font-weight: 700;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
nav .nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 2rem;
    align-items: center;   
}

nav #signup-button,#login-button {
    padding: 5px 25px;
    border-color: rgba(243, 119, 48, 1);
    background-color: rgba(243, 119, 48, 1);
    opacity: 0.8;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 84%;
    font-weight: 500;
    line-height: 1rem; 
    letter-spacing: 0.04688rem;
    
}
nav #login-button:hover{

    background: rgba(243, 119, 48, 1);
    opacity: 2;
    color: white; 
}
nav #signup-button:hover{

    background: rgba(243, 119, 48, 1);
    opacity: 2;
    color: white; 
}