.container-fluid {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #414F57; */
}
/* form */
.register {
  height: 60%;
}
.data {
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 5%;
  padding-right: 3%;
}
.logo1 {
  font-size: 2rem;
  color: #155a70;
  font-weight: 400;
}
.logo2 {
  font-size: 1.5rem;
  color: #155a70;
  padding-top: 3%;
  padding-bottom: 3%;
  font-weight: 400;
  font-family: montserrat;
}
.button {
  background-color: #155a70;
  border: none;
  width: 3 rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.reg-btn {
  padding-bottom: 4%;
  padding-top: 3%;
  width: 90%;
  border-radius: 30px;
  margin-top: 6%;
}
.input-fields {
  font-size: 0.9rem;
  line-height: 1.5rem;
  border: 1px solid #155a70;
  margin-bottom: 0.7rem;
}
.input-label {
  font-size: 0.8rem;
}
.form-floating .input {
  border: 0.1px solid #8399a3;
  height: 40px;
  padding: 8px;
  font-size: 10px;
  width: 100%;
  margin-top: 2%;
  border-radius: 10px;
}
.form-floating .form-control {
  border: 0.1px solid #8399a3;
  height: 40px !important;
  padding: 8px;
  font-size: 10px;
  width: 100%;
  margin-top: 2%;
  border-radius: 10px;
}
.form-floating label {
  font-size: 10px;
  color: #414f57;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
    color 0.3s ease-in-out;

  /* Initial position */
  transform: translateY(0);
}

/* .form-floating input:focus {
    border: 2px solid #155A70;
    outline: none;
    box-shadow: 0 0 5px #414F57;
} */

.form-group .input-fields:focus {
  border: 0px solid #155a70;
  outline: none;
  box-shadow: 0 0 4px #414f57;
}

.text-danger {
  font-size: 0.7rem;
}

/* Custom styles for the floating labels when input is focused */
.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
  transform: translateY(-20%);
  font-size: 10px;
  color: #155a70;
}
.login-link {
  font-size: 80%;
}
.login-link a span {
  color: #155a70;
}
a {
  text-decoration: none;
}
.disabled-button {
  cursor: not-allowed;
  opacity: 0.8;
}
/* image */
