<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="welcome">
        <div class="row justify-content-center logo2 global-color">Sign up!</div>
        <form [formGroup]="registerForm" (ngSubmit)="registerForm.status !== 'INVALID' && register(registerForm)"
          class="form-container">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="firstName" class="input-label">First Name</label>
              <input type="text" class="form-control input-fields" id="firstName" placeholder="John"
                formControlName="firstName" />
              <div *ngIf="getControl('firstName')?.errors && getControl('firstName')?.touched">
                <!-- Validation messages here -->
              </div>
            </div>
            <div class="col-md-6 form-group">
              <label for="lastName" class="input-label">Last Name</label>
              <input type="text" class="form-control input-fields" id="lastName" placeholder="Doe"
                formControlName="lastName" />
              <div *ngIf="getControl('lastName')?.errors && getControl('lastName')?.touched">
                <!-- Validation messages here -->
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="input-label">Email</label>
            <input type="email" class="form-control input-fields" id="email" placeholder="name@example.com"
              formControlName="email" />
            <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
              <!-- Validation messages here -->
            </div>
          </div>
          <div class="form-group">
            <label for="userName" class="input-label">Username</label>
            <input type="text" class="form-control input-fields" id="userName" placeholder="john10"
              formControlName="userName" />
            <div *ngIf="getControl('userName')?.errors && getControl('userName')?.touched">
              <!-- Validation messages here -->
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="input-label">Password</label>
            <input type="password" class="form-control input-fields" id="password" placeholder="Password"
              formControlName="password" />
            <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
              <!-- Validation messages here -->
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="input-label">Confirm Password</label>
            <input type="password" class="form-control input-fields" id="confirmPassword"
              placeholder="Confirm Password" formControlName="confirmPassword" />
            <div *ngIf="getControl('confirmPassword')?.errors && getControl('confirmPassword')?.touched">
              <!-- Validation messages here -->
            </div>
            <div *ngIf="registerForm.hasError('passwordMismatch') && getControl('confirmPassword')?.touched">
              <span class="text-danger">Passwords do not match.</span>
            </div>
          </div>
          <!-- Other form fields and validations -->
          <button class="button reg-btn global-background-color" type="submit"
            [class.disabled-button]="registerForm.invalid">
            Register
          </button>
          <div class="login-link globar-color text-center">
            Already have an account?
            <a [routerLink]="['/main/login']"><span class="global-color"> Login</span></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
