.container {
  margin-top: 6%;
}
.button {
  border: none;
  width: 3rem;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.reg-btn {
  width: 60%;
  border-radius: 30px;
  margin-top: 6%;
  margin-left: 14%;
}

.input-fields {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 0.2rem;
  width: 70%;
}

.text-danger {
  font-size: 0.7rem;
}

.login-link {
  font-size: 80%;
  margin-top: 1%;
  margin-right: 7%;
}

.disabled-button {
  cursor: not-allowed;
  opacity: 0.8;
}

::placeholder {
  color: #aaa;
}

.input-container {
  position: relative;
}

#eye {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #bbb;
}

.no-border .form-control {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

.no-border .form-control:focus {
  border-bottom: 1px solid #f3752e;
  box-shadow: none;
}

.text-danger {
  font-size: 0.9rem;
  font-family: "Regular";
}

.col-md-6 {
  max-width: 48%;
}

.no-border {
  margin-top: 3%;
  margin-left: 14%;
}
.form-group {
  position: relative;
}

.form-group label {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.form-group input {
  padding-left: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
}
a {
  text-decoration: none;
}
.password-fields {
  margin-left: 15%;
}
input {
  font-family: "Medium" !important;
}
.img > img {
  margin-left: -17%;
}
