.container-fluid {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #414F57; */
}
/* form */
.register {
  height: 60%;
}
.data {
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 5%;
  padding-right: 3%;
}
.logo1 {
  font-family: "Gurajada", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
.logo2 {
  font-family: "Gilda Display";
  font-size: 1.5rem;
  padding-top: 2%;
  padding-bottom: 2%;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.firstname{
    padding-right: 0.5%;
}
.lastname{
    padding-left: 0.5%;
}
.button {
  border: none;
  width: 3 rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.reg-btn {
  padding-bottom: 4%;
  padding-top: 3%;
  width: 90%;
  border-radius: 30px;
  margin-top: 6%;
}
.input-fields {
  font-size: 0.9rem;
  line-height: 1.5rem;
  border: 1px solid #f3752e;
  margin-bottom: 0.2rem;
}
.input-label {
  font-size: 0.8rem;
}
.form-floating .input {
  border: 0.1px solid #8399a3;
  height: 40px;
  padding: 8px;
  font-size: 10px;
  width: 100%;
  margin-top: 2%;
  border-radius: 10px;
}
.form-floating .form-control {
  border: 0.1px solid #8399a3;
  height: 40px !important;
  padding: 8px;
  font-size: 10px;
  width: 100%;
  margin-top: 2%;
  border-radius: 10px;
}
.form-floating label {
  font-size: 10px;
  color: #414f57;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out,
    color 0.3s ease-in-out;

  /* Initial position */
  transform: translateY(0);
}

.form-group .input-fields:focus {
  border: 0px solid #f3752e;
  outline: none;
  box-shadow: 0 0 4px #414f57;
}

.text-danger {
  font-size: 0.7rem;
}

/* Custom styles for the floating labels when input is focused */
.login-link {
  font-size: 80%;
}

a {
  text-decoration: none;
}
.disabled-button {
  cursor: not-allowed;
  opacity: 0.8;
}
