@import  "./assets/css/custome-font.css";
/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'SemiBold';
}
.global-color {
  color: #f3752e !important;
}
.global-background-color {
  background-color: #f3752e !important;
}
.global-border-color {
  border: 1px solid #f3752e !important;
}
.global-black-background-color {
  background-color: #f1f5f8 !important;
}
.global-black-color {
  color: black !important;
}
.global-white-color {
  color: white !important;
}

:root {
  --primary-color: #f3752e !important;
  --secondary-color: #ffe1d1 !important;
  --home-background-color: #eff2f7 !important;
}

@import "~bootstrap/dist/css/bootstrap.min.css";

