<div class="header-bar"><app-header></app-header></div>
<div class="container-fluid mt-3 one">
  <header class="text-center">
    <h1 class="custom-headings-h1 global-color zoom-effect">
      Feuji Talent Gateway
    </h1>
  </header>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3  shadow p-3 mb-3 rounded  custom-card">
        <div class="card-body">
          <h2 class="custom-headings global-color ">About Us</h2>
          <p>
            At Feuji Software Solutions, we are excited to introduce Feuji Talent
            Gateway, a cutting-edge platform designed to revolutionize the online
            examination experience. As we embark on this journey, we aim to redefine
            how assessments are conducted, focusing on efficiency, accessibility, and
            user-friendly interactions.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill mb-3 shadow p-3 mb-3 rounded  custom-card zoom-effect">
        <div class="card-body">
          <h2 class="custom-headings global-color">Our Mission</h2>
          <p>
            At Feuji Talent Gateway, our mission is to deliver a reliable,
            secure, and innovative online examination platform. We empower
            educators, employers, and learners by bridging the gap between
            traditional assessment methods and the dynamic needs of the digital
            age.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill mb-3 shadow p-3 mb-3 rounded  custom-card zoom-effect">
        <div class="card-body">
          <h2 class="custom-headings global-color">Get Started</h2>
          <p>
            Ready to embrace the future of online examinations? Join us and
            embark on a journey of possibilities with Feuji Talent Gateway. Take
            the first step by <span><a
              [routerLink]="['/main/register']"
              class="btn custom-buttons btn btn-outline-dark"
              >Sign up</a
            ></span>
          </p>
          
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex">
      <div class="card flex-fill shadow p-3 mb-3 rounded mb-3 custom-card zoom-effect">
        <div class="card-body">
          <h2 class="custom-headings global-color">Get in Touch</h2>
          <p>
            If you have any questions or feedback, we'd love to hear from you!
            Reach out to us and connect with our team by
            <a
              [routerLink]="['/main/contact']"
              class="btn custom-buttons btn btn-outline-dark"
              >Contact us</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
