<div *ngIf="isLoading; else examDetails">
  <p>Loading...</p>
</div>

<ng-template #examDetails>
  <div class="shadow p-2 bg-white rounded subject-name">
    {{ this.exam.examSubjects[this.indexPositionOfSubject].subject.name }}
  </div>
  <div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="heading"></div>
    <div class="content" *ngIf="nextSubjectLoading; else loadingSubject" >
      <h5>
        Question : {{ currentQuestionIndex + 1 }} /
        {{ currentSubject?.maxQuestions }} 
      </h5>
      <br />
      <h4 class="question-name">
        {{ this.currentQuestion?.content }}
      </h4>
      <ul>
        <li *ngFor="let option of currentQuestion?.options">
          <span *ngIf="currentQuestion?.questionType == 'single choice'">
            <input
              type="radio"
              name="question.id"
              (change)="assignRightOption(option)"
              [checked]="isOptionSelected(option)"
            />
            &nbsp; &nbsp;{{ option.optionName }}
          </span>

          <span *ngIf="currentQuestion?.questionType == 'multiple choices'">
            <input
              type="checkbox"
              name="question.id"
              (change)="assignRightOption(option)"
            />
            &nbsp; &nbsp;{{ option.optionName }}
          </span>
        </li>
      </ul>
    </div>

    <div class="footer">
      <button
        (click)="previousQuestion()"
        [disabled]="this.currentQuestionIndex == 0"
        class="btn"
      >
        Previous
      </button>
      <button
        (click)="saveOption()"
        class="btn btn-sm btn-success btn-custom"
        [disabled]="this.currentQuestion?.optionSelected?.length == 0"
        *ngIf="!checkLastAndSubjectAndFinalQuestionOrNot()"
      >
        save & next
      </button>
      <button
        (click)="nextQuestion()"
        [disabled]="
          this.currentQuestionIndex == this.currentSubject?.maxQuestions 
        "
        class="btn"
      >
        Next
      </button>

      <button
        (click)="saveAndSubmit()"
        class="btn btn-sm btn-success btn-custom"
        [disabled]="this.currentQuestion?.optionSelected?.length == 0"
        *ngIf="checkLastAndSubjectAndFinalQuestionOrNot()"
      >
        save & submit
      </button>
    </div>
  </div>
  <ng-template #loadingSubject></ng-template>
</ng-template>
