<section *ngIf="startExam$ | async as startExam; else loading">
  <br>
  <div class="shadow p-2  bg-white rounded subject-name">
    {{ this.exam.examSubjects[this.indexPositionOfSubject].subject.name }}  
  </div>
  <div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="heading"></div>
    <div class="content">
      <h5>
        Question : {{ attemptedQuestions }} /
        {{ currentSubject?.maxQuestions }}
      </h5>
      <br />
      <h4 class="question-name">
        {{ this.currentQuestion?.content }}
      </h4>
      <ul>
        <li *ngFor="let option of currentQuestion?.options">
          <span *ngIf="currentQuestion?.questionType == 'single choice'">
            <input
              type="radio"
              name="question.id"
              (change)="assignRightOption(option)"
            />
            &nbsp; &nbsp;{{ option.optionName }}
          </span>

          <span *ngIf="currentQuestion?.questionType == 'multiple choice'">
            <input
              type="checkbox"
              name="question.id"
              (change)="assignRightOption(option)"
            />
            &nbsp; &nbsp;{{ option.optionName }}
          </span>
        </li>
      </ul>
    </div>

    <div class="footer">
      <button
        (click)="saveOption()"
        class="btn btn-sm btn-success btn-custom"
        [disabled]="this.currentQuestion?.optionSelected?.length == 0"
      >
        save & next
      </button>
    </div>
  </div>
</section>
<ng-template #loading> fetching the data </ng-template>

<!-- <div *ngIf="paper.questions && paper.questions.length > 0">
  <h5>
    Question : {{ currentQuestionIndex + 1 }} /
    {{ paper.questions.length }}
  </h5>
  <br />
  <h4 class="question-name">
    {{ paper.questions[currentQuestionIndex].content }}
  </h4>
  <ul>
    <li
      *ngFor="let option of paper.questions[currentQuestionIndex].options"
    >
      <input
        type="radio"
        name="paper.questions[currentQuestionIndex].id"
        (click)="
          assignRightOption(
            paper.questions[currentQuestionIndex],
            option,
            currentQuestionIndex
          )
        "
        [checked]="
          option.id ==
          paper.questions[currentQuestionIndex].optionSelected
        "
      />
      &nbsp; &nbsp;{{ option.name }}
    </li>
  </ul>
</div> -->
<!-- 
type="radio"
name="paper.questions[currentQuestionIndex].id"
(click)="
  assignRightOption(
    paper.questions[currentQuestionIndex],
    option,
    currentQuestionIndex
  )
"
[checked]="
  option.id ==
  paper.questions[currentQuestionIndex].optionSelected
" -->
