.submit-button {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 50%;

}

.submit-invalid {
  cursor: auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 50%;
  margin: auto;
}

.icons {
  font-size: 18px;
}

.global-white-color {
  text-decoration: none;
}
.custom-headings{
  font-family: 'Bold';
  margin: 0;
  text-align: center;
  margin-left: -1%;

}
.line {
  width: 27%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.973); 
}

h2{
  font-family: 'SemiBold';
  font-size: 25px;
}
.contact{
  margin: 2%;
  font-family: 'Regular';

}
.icon-text-container{
  padding: 0 !important;

}
.inputs{
  border: 1px solid #eff2f7;
}
.custom-card{
  font-family: 'SemiBold';
  font-weight: 200;


}
.custom-one{
  font-family: 'Regular';
  font-size: larger;
  font-weight: 500;
  background-color: #eff2f7;
}
.custom-card-one{
  background-color: #eff2f7;
  text-align: center;

}
.card{
  background-color: #eff2f7 !important;
}
.one{
  background-color: black !important;
  color: white !important;
  
}
.faq-answer{
  font-family: 'Regular';
}
.container-fluid{
  width: 100% !important;
  box-sizing: border-box;
}