.main {
    margin: 10px;
  }
  .no-wrap {
    white-space: nowrap;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    background-color: #fff;
    border-color: #e6e9ed;
    justify-content: space-between;
    /* background-color: #ebebee; */
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }
  .header-cell {
    background-color: #ebebeb;
  }
  
  .search-container {
    position: relative;
    min-width: 30%;
    max-width: 80%;
    /* display: none; */
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer; /* Add this if you want the icon to be clickable */
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    min-height: 40px;
    height: 100%;
  }
  input[type="text"]:focus {
    outline: none;
    border-color: #838587;
    box-shadow: 0 0 5px rgba(118, 120, 122, 0.5);
  }
  
  table {
    width: 100%;
  }
  
  .header h1 {
    /* color: #D87033;
      font-weight: 600;
      font-size: xx-large; */
    color: #5b626b;
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 0;
  }
  table th {
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #ebebee;
  }
  .mobile-label {
    display: none;
  }
  @media (max-width: 600px) {
    .header {
      margin-bottom: 4px;
      justify-content: space-between;
      column-gap: 0;
    }
    .header .heading {
      display: none;
      font-size: large;
    }
    table .mat-mdc-header-row {
      display: none;
    }
    table .mdc-data-table__row {
      height: fit-content;
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
      display: grid;
    }
    td {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      word-wrap: break-word;
      min-height: inherit;
      padding: 13px 0px 13px 5px;
    }
  
    .mobile-label {
      width: 100px;
      display: inline-block;
      font-weight: 700;
    }
    .mdc-data-table__row:last-child .mat-mdc-cell {
      border-bottom-color: var(
        --mat-table-row-item-outline-color,
        rgba(0, 0, 0, 0.12)
      );
      border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
      border-bottom-style: solid;
      letter-spacing: var(--mat-table-row-item-label-text-tracking);
      line-height: inherit;
    }
    .mdc-button {
      min-width: fit-content;
      padding: 5px;
    }
    .mat-mdc-raised-button > .mat-icon {
      margin: 0;
    }

    .custom-icon {
      font-size: 24px;
      color: rgba(243, 119, 48, 1);
    }
    
  }
  